:root {
  --blue-1: #6499e9;
  --blue-2: #9eddff;
  --blue-3: #a6f6ff;
  --blue-4: #befff7;
}

* {
  font-family: "Nanum Myeongjo", serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

/* header */

header {
  padding: 1rem;
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid black;
  background-color: white;
}

nav .title {
  display: flex;
  align-items: flex-end;
}

nav p {
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

main {
  display: flex;
  flex-flow: row;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 75px;
}

/* input book */

.input__book {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  width: 50%;
}

.input__book form {
  position: sticky;
  top: 83px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  width: cover;
  padding: 10px;
}

/* book unread */

.book {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.book__content {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 10px;
  height: 200px;
}

.list img {
  height: 100%;
}

.list__button {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.list__button button {
  padding: 0.5rem;
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  transition: 0.3s;
  margin: 5px 5px 0 5px;
}

.list__button button:nth-child(1):hover {
  background-color: yellow;
}

.list__button button:nth-child(2):hover {
  background-color: red;
  color: white;
}

.list__button button:nth-child(3):hover {
  background-color: green;
  color: white;
}

.book__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book__desc {
  word-break: break-all;
}

.book__desc h2 {
  padding-bottom: 1rem;
}

.book__desc p,
h2 {
  margin: 0;
}
